/* global.css */
@import "theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--color-background);
  color: var(--color-text);
  transition: background-color 0.5s ease, color 0.5s ease;
}
